		<!-- <p id="add-icon"><i class="col-lg-1 fa fa-plus fa-4x"></i></p> -->	
		<img src="{{thumbnails.1.url}}" class="resize col-xs-11" id="image" >
		<div class="col-xs-12 title" id="song">
			{{title}}
		</div>
		

		
