<% name = "{{name}}" %>
<div class="playlist-song">
	<i id="play-icon" class=" col-lg-1 fa fa-play  "></i
	>
	<p  class="songs col-lg-8">
	<%= name.to_s.strip.capitalize %>
	</p>
	<i id="cross-icon" class="pull-right col-lg-1 fa fa-times col-lg-offset-1 "></i>
</div>