<form action="api/songs/search" method="get">
	<input id="search" type="text" name="q" class="col-lg-4 col-lg-offset-3" placeholder="Search for any Song">
	<div class="col-lg-1 text-center" id="icon-bg">
		<i id="search-icon"  class="fa fa-search fa-2x"></i>
	</div>
</form>
</br>
</br>
</br>
</br>
