<% name = "{{name}}" %>
<div class="playlist-song"><p class="col-lg-10" id="song"><%= name.to_s.strip.capitalize %></p><i id="play-icon" class="col-lg-1 fa fa-play fa-2x"></i><i id="cross-icon" class="col-lg-1 fa fa-times fa-2x"></i></div>